{% load static %}

<!--<header>-->
<!--  <center>-->
<!--    <img src="{% static 'img/logos.png' %}" alt="logimage" width="120px" height="120px">-->
<!--  </center>-->
<!--</header>-->
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            <div>

                <div class="banner-logo">
                   <a href="{% url 'shop:allProdCat' %}"><img src="{% static 'img/logos.png' %}" alt="logimage" width="150px" height="100px" ></a>
                </div>
            </div>
        </div>
    </div>
</div>